{% extends 'musicplayer/base_2.html' %}
{% load crispy_forms_tags %}
{% block title %}Change Your Password{% endblock %}

{% block content %}

<div class="page-wrapper bg-gra-01 p-t-180 p-b-100 font-poppins">
    <div class="wrapper wrapper--w780">
        <div class="card card-3">
            <div class="card-heading"></div>
            <div class="card-body">
                <h2 class="title">Change Your Password</h2>
                <form method="post">
                    {% csrf_token %}
                    <fieldset class="form-group">
                        <legend class="border-bottom mb-4">Reset Password</legend>
                        {{ form|crispy }}
                    </fieldset>

                    <div class="p-t-10">
                        <button type="submit" class="btn btn--pill btn--green">
                            Submit
                        </button>

                    </div>

                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}