{% extends 'musicplayer/base_2.html' %}
{% load static %}
{% block title %}{{ users_name }}{% endblock %}

{% block content %}
<div id="launched-app-bg">
<div id="launched-app">
      <div class="file-title"> <h1>Share your mood with these four questions</h1>
     </div>
        <p id="recording"></p>   <!--  This is where the recording... appears after the user clicks on record button    -->
        <form method="POST" id="mood_form">
            {% csrf_token %}
            <div id="drinks">
                <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
                <a class="next" onclick="plusSlides(1)">&#10095;</a>
                <label>
				    <div class="mySlides" style="display: block;">
                        <div class="question-list">
                            <div id="dance_or_no" name="dance_or_no">
                                <input type="radio" id="q1-answer-1" class="question-1" name="qustion-1" value="yes">
                                <input type="radio" id="q1-answer-2" class="question-1" name="qustion-1" value="no">
                                <div class="question-title">
                                    <h3>Do you want to dance?</h3>
                                </div>
   
                                <div>
                                    <label for="q1-answer-1" class="answer">YES</label>
                                    <label for="q1-answer-2" class="answer">NO</label>
                                </div>
               
                            </div>

                            <div id="sad_or_happy" name="sad_or_happy"> 
                                <input type="radio" id="q2-answer-1" class="question-2" name="qustion-2" value="sad">
                                <input type="radio" id="q2-answer-2" class="question-2" name="qustion-2" value="happy">
                                <div class="question-title">
                                    <h3>What is your mood?</h3>
                                </div>
   
                                <div>
                                    <label for="q2-answer-1" class="answer">SAD</label>
                                    <label for="q2-answer-2" class="answer">HAPPY</label>
                                </div>
               
                            </div>

                            <div id="alone_or_not" name="alone_or_not">
                                <input type="radio" id="q3-answer-1" name="qustion-3" class="question-3" value="yes">
                                <input type="radio" id="q3-answer-2" name="qustion-3" class="question-3" value="no">
                                <div class="question-title">
                                    <h3>Are you alone?</h3>
                                </div>
   
                                <div>
                                    <label for="q3-answer-1" class="answer">YES</label>
                                    <label for="q3-answer-2" class="answer">NO</label>
                                </div>
               
                            </div>

                            <div id="tired_or_not" name="tired_or_not">
                                <input type="radio" id="q4-answer-1" name="qustion-4" class="question-4" value="yes">
                                <input type="radio" id="q4-answer-2" name="qustion-4" class="question-4" value="no">
                                <div class="question-title">
                                    <h3>Are you tired? </h3>
                                </div>

                                <div>
                                    <label for="q4-answer-1" class="answer">YES</label>
                                    <label for="q4-answer-2" class="answer">NO</label>
                                </div>
            
                            </div>
                        </div> 
                    </div>
                </label>
			   <!--  <label>
				    <div class="mySlides">
                        <div>
                            <select name="dance_or_no" id="dance_or_no" required>
                                <option value = "" disabled="disabled" selected="selected">Do you want to dance?</option>
                                <option value = "yes">Yes :)</option>
                                <option value = "no">No :(</option>
                            </select>-->
                <div class="dot-container">
                    <span class="dot" onclick="currentSlide(1)"></span>
                    <span class="dot" onclick="currentSlide(2)"></span>
                </div>
			</div>
            <input type="submit" value="Submit" class="submit-app">
        </form>
        <form method="post" id="voice_form">

            {% csrf_token %}
            <input type="hidden" name="record" id="record">
            <button onclick="myFunction()" class="record-button"><i class="fas fa-microphone"></i></button>
        </form>
    <div id="drink-score"> <!--  The id with drink-score is where all the songs keep adding after the user clicks on the submit button  -->
        <div id="no_command"></div>
    </div>
</div>
</div>
</div>
<script>
    function myFunction(){
        document.getElementById("recording").innerHTML = "Recording"
    }

    function myFunction_remove(){
        document.getElementById("recording").innerHTML = ""
    }

    $('#voice_form').on('submit', function(event){
      event.preventDefault();
      console.log("form submitted!")  // sanity check
      update_the_command();
    });

    function update_the_command() {
    console.log("create post is working!") // sanity check
    $.ajax({
      url : "{% url 'update_the_command' %}", // the endpoint
      type : "POST", // http method
      data : { "record" : $('#record').val()}, 
      // handle a successful response
      success : function(json) {
      // remove the value from the input
        myFunction_remove();
        console.log(json); // log the returned json to the console
        $("#drink-score").prepend('<iframe src="'+json.random_track+'" class="Play" width="300" height="80" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>');
        if (json.flag === true) {
            repeat_the_command();
        }
        console.log("success"); // another sanity check
      },

  // handle a non-successful response
      error : function(xhr,errmsg,err) {
        myFunction_remove();
        $('#drink-score').html("<div class='alert-box alert radius' data-alert>Oops! We have encountered an error: "+errmsg+
          " <a href='#' class='close'>&times;</a></div>"); // add the error to the dom
        console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
      }
    });
    };
    
    $('#mood_form').on('submit', function(event){
      event.preventDefault();
      console.log("form submitted!")  // sanity check
      update_the_song();
    });

    function repeat_the_command() {
        document.getElementById("no_command ").innerHTML = "Please Repeat"
    }

    function update_the_song() {
    console.log("create post is working!") // sanity check
    $.ajax({
      url : "{% url 'update_the_song' %}", // the endpoint
      type : "POST", // http method
      data : { "dance_or_no" : $(".question-1:checked").val(),
          "sad_or_happy" : $(".question-2:checked").val(),
          "tired_or_not" : $(".question-3:checked").val(),
          "alone_or_not" : $(".question-4:checked").val()
       }, 
      // handle a successful response
      success : function(json) {
      // remove the value from the input
        console.log(json); // log the returned json to the console
        $("#drink-score").prepend('<iframe src="'+json.random_track+'" class="Play" width="300" height="80" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>');
        console.log("success"); // another sanity check
      },

  // handle a non-successful response
      error : function(xhr,errmsg,err) {
        $('#drink-score').html("<div class='alert-box alert radius' data-alert>Oops! We have encountered an error: "+errmsg+
          " <a href='#' class='close'>&times;</a></div>"); // add the error to the dom
        console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
      }
    });
    };

    $(function() {

    // This function gets cookie with a given name
    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie != '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = jQuery.trim(cookies[i]);
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) == (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
    var csrftoken = getCookie('csrftoken');

    /*
    The functions below will create a header with csrftoken
    */

    function csrfSafeMethod(method) {
        // these HTTP methods do not require CSRF protection
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }
    function sameOrigin(url) {
        // test that a given url is a same-origin URL
        // url could be relative or scheme relative or absolute
        var host = document.location.host; // host + port
        var protocol = document.location.protocol;
        var sr_origin = '//' + host;
        var origin = protocol + sr_origin;
        // Allow absolute or scheme relative URLs to same origin
        return (url == origin || url.slice(0, origin.length + 1) == origin + '/') ||
            (url == sr_origin || url.slice(0, sr_origin.length + 1) == sr_origin + '/') ||
            // or any other URL that isn't scheme relative or absolute i.e relative.
            !(/^(\/\/|http:|https:).*/.test(url));
    }

    $.ajaxSetup({
        beforeSend: function(xhr, settings) {
            if (!csrfSafeMethod(settings.type) && sameOrigin(settings.url)) {
                // Send the token to same-origin, relative URLs only.
                // Send the token only if the method warrants CSRF protection
                // Using the CSRFToken value acquired earlier
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
            }
        }
    });

    });
      
  </script> 
{% endblock %}
