{% load static %}
<!DOCTYPE html>
<html lang="en">

    <head>
        <title>{% block title %}TITLE GOES HERE{% endblock %}</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- Main CSS-->
        <link rel = stylesheet type="text/css" href="{% static 'musicplayer/main-file.css' %}">

        <!-- Font -->
        <link href="https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i"
              rel="stylesheet">

        <!-- Tab Logo -->
        <link rel="shortcut icon" type="image/x-icon" href="{% static 'musicplayer/logo.png' %}"/> 
     

        <script src="https://kit.fontawesome.com/854882c910.js" crossorigin="anonymous"></script>
<script src="{% static 'musicplayer/global.js' %}"></script>

<script src="{% static 'musicplayer/jquery.min.js' %}"></script>

<script>
$(document).on('scroll', function(){
  if ( $(window).scrollTop() > 30) {
      $('header').addClass('change-color');
  } else {
      $('header').removeClass('change-color');
  }
});

$(document).on('scroll', function(){
  if ( $(window).scrollTop() > 30) {
      $('.header-logo').addClass('change-logo');
  } else {
      $('.header-logo').removeClass('change-logo');
  }
});

</script> 



    </head>





    <body>
      <header class="site-header">


        <div class="header-container">
        <div class="header-logo">
            <a class="" href="{% url 'home' %}"><img src="{% static 'musicplayer/logo.png' %}"></a>
          </div>
              <nav class="header-nav">
                <ul>
                  <li><a href="#">About</a></li>
                  <li><a href="#">Contact</a></li>
                  <li class="header-space"></li>
                {% if user.is_authenticated %}
                <li><a class="image-try" href="{% url 'profile' %}"><img src="{{ user.profile.image.url }}"   class="personal-image"> Profile</a></li>
                <li><a class="" href="{% url 'edit-profile' %}">Edit Profile</a></li>
                <li><a class="" href="{% url 'logout' %}">Logout</a></li>
                {% else %}
                <li><a class="" href="{% url 'login' %}">Login</a></li>
                <li><a class="" href="{% url 'register' %}">Register</a></li>
                {% endif %}
              </ul>
              </nav>
            </div>

      </header>




        {% if messages %}
          {% for message in messages %}
            <div class="alert alert-{{ message.tags }}"> 
              {{ message }}
            </div>
          {% endfor %}
        {% endif %}

        

          {% block content %}BODY CONTENT GOES HERE{% endblock %}
       
          




    </body>
</html>