{% extends 'musicplayer/base.html' %}

{% block title %}Recover Your Password{% endblock %}

{% block content %}

<div class="page-wrapper bg-gra-01 p-t-180 p-b-100 font-poppins">
    <div class="wrapper wrapper--w780">
        <div class="card card-3">
            <div class="card-heading"></div>
            <div class="card-body">
                <h2 class="title">{{ headline }}</h2>
                <form method="post">
                    <div class="form-group">
                        <input class="form-control" type="email" placeholder="{{ alert1 }}" name="email" required>
                        <div class="help-block with-errors"></div>
                        <p style="color: green">{{ alert }}</p>
                    </div>

                    <div class="p-t-10">
                        <button type="submit" class="btn btn--pill btn--green">
                            Submit
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}
